rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {

    function isEstudante() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
      get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'estudante';
    }

    function isPeriodoAtual(periodoId) {
      let configRef = get(/databases/$(database)/documents/config/geral).data.periodoAtual;
      let requestedPath = /databases/$(database)/documents/periodos/$(periodoId);
      return configRef == requestedPath;
    }

    // TODO
    function isAdmin() { return true; }

    // permite que usuarios logados vejam seus proprios dados
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }

    // permite que estudantes leiam as config gerais
    match /config/geral {
      allow get: if isEstudante();
    }

    match /periodos/{periodoId} {
      allow get: if isEstudante() && isPeriodoAtual(periodoId);

      allow list: if false

      match /turmas/{turmaId} {
        // permite ler e listar as turmas do periodo atual
        allow read, list: if isEstudante() && isPeriodoAtual(periodoId);

        // admins podem escrever
        allow write: if isAdmin();
      }
    }

    allow read, write: if request.time < timestamp.date(2025, 9, 18);
  }
}
